<!DOCTYPE html>
<html>

  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

    <script type="text/javascript">
      var app =
      {
		startArea : undefined,
        onPhoneButton : undefined,
        onBrowserButton : undefined,

		sendArea : undefined,
		sendButton :undefined,
        backToStartFromSendButton: undefined,
		
		catArea : undefined,
		backToStartFromCatButton : undefined,

        init : function()
        {
			//Save JQuery variables after the page has loaded
			this.startArea = $('#startArea');
			this.onPhoneButton = $('#onPhoneButton');
			this.onBrowserButton = $('#onBrowserButton');
			
			this.sendArea = $('#sendArea');
			this.sendButton = $('#sendButton');
			this.backToStartFromSendButton = $('#backToStartFromSendButton');
			
			this.catArea = $('#catArea');
			this.backToStartFromCatButton = $('#backToStartFromCatButton');
	
			//Setup events
			this.onPhoneButton.click($.proxy(this.showSend, this));
			this.onBrowserButton.click($.proxy(this.showCat, this));
	
			this.sendButton.click($.proxy(this.sendCat, this));
			this.backToStartFromSendButton.click($.proxy(this.showStart, this));
			
			this.backToStartFromCatButton.click($.proxy(this.showStart, this));
        },

		showStart : function()
        {
			//Hide the form and back button
			this.sendArea.hide();
			this.catArea.hide();
	
			//Show the choice buttons
			this.startArea.show();
        },
		
        showSend : function()
        {
			//Hide the start buttons
			this.startArea.hide();
			this.catArea.hide();
	
			//Show the sending area
			this.sendArea.show()
        },

        showCat : function()
        {
			//Hide start area
			this.startArea.hide();
	
			//Make request for cats
			
			//Show cat area
			this.catArea.show();
        },
		
		sendCat : function()
		{
			var mmsData = 
			{
				api_user : 'aarsentufsc2842',
				api_key : 'apikey',
				to : '2074098159@tmomail.net',
				toname : 'Pussy Lover',
				subject : 'Requested Pussy',
				text : 'Example Cat Fact',
				from : 'getpussy.me'
			};
		
			$.ajax({type: 'POST',
					url: 'https://api.sendgrid.com/api/mail.send.json',
					data: mmsData,
					success: function(result){this.sendCatResult(result);},
					dataType: 'json'
				});
		},
		
		sendCatResult : function(result)
		{
			console.log('test');
		}
		
      };

      $(document).ready($.proxy(app.init, app));

    </script>
  </head>

  <body>

    <h2>Get Pussy</h2>

    <br />

	<div id="startArea">
    <button type="button" id="onPhoneButton">On My Phone</button>
    <br/>
    <button type="button" id="onBrowserButton">Right Here</button>
	</div>

    <div hidden id="sendArea">
		<label id="phoneLabel" for="phone">Phone #</label>
		<input id="phone" type="text" name="phoneNumber"/>
		<button type="button" id="sendButton">Send</button>
		<br/>
		<button id="backToStartFromSendButton">Nevermind</button>
	</div>

	<div hidden id="catArea">
		<button id="backToStartFromCatButton">That's Enough</button>
	</div>
	
  </body>

</html>
