<!DOCTYPE html>
<html>

  <head>
	
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
  
    <script src="static/js/jquery-2.1.1.min.js"></script>
	<script src="static/js/jquery.cookie.js"></script>

    <script type="text/javascript">
	  var csfrHelper =
	  {
		getToken : function()
		{
			return $.cookie('csrftoken');
		},

		safeMethod : function(method)
		{
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		},
	  }

      var app =
      {
		startArea : undefined,
        onPhoneButton : undefined,
        onBrowserButton : undefined,

		sendArea : undefined,
		sendButton :undefined,
		phoneNumberField : undefined,
		carrierSelect : undefined,
        backToStartFromSendButton: undefined,

		catArea : undefined,
		backToStartFromCatButton : undefined,
		
		catFact : undefined,
		catImage : undefined,

        init : function()
        {
			//Save JQuery variables after the page has loaded
			this.startArea = $('#startArea');
			this.onPhoneButton = $('#onPhoneButton');
			this.onBrowserButton = $('#onBrowserButton');

			this.sendArea = $('#sendArea');
			this.sendButton = $('#sendButton');
			this.phoneNumberField = $('#phoneNumberField');
			this.carrierSelect = $('#carrierSelect');
			this.backToStartFromSendButton = $('#backToStartFromSendButton');

			this.catArea = $('#catArea');
			this.backToStartFromCatButton = $('#backToStartFromCatButton');

			//Setup events
			this.onPhoneButton.click($.proxy(this.showSend, this));
			this.onBrowserButton.click($.proxy(this.showCat, this));

			this.sendButton.click($.proxy(this.sendCat, this));
			this.backToStartFromSendButton.click($.proxy(this.showStart, this));

			this.backToStartFromCatButton.click($.proxy(this.showStart, this));
			
			console.log('test');
        },

		showStart : function()
        {
			//Hide the form and back button
			this.sendArea.hide();
			this.catArea.hide();

			//Show the choice buttons
			this.startArea.show();
        },

        showSend : function()
        {
			//Hide the start buttons
			this.startArea.hide();
			this.catArea.hide();

			//Show the sending area
			this.sendArea.show();
        },
		
		getCat : function(catData)
		{
			console.log("catData: " + catData);
			app.catFact = catData.fact;
			app.catImage = catData.image;
			
			var data = "<p>" + this.catFact + "</p><br>";
			data += "<img src=" + this.catImage + ">";
			
			document.querySelector("#catContent").innerHTML = data;
			
			debugger;
		},

        showCat : function()
        {
			//Hide start area
			this.startArea.hide();
			
			//Show cat area
			this.catArea.show();
			
			//pick a random loading phrase
			var loadingPhrase = Math.floor(Math.random()* 10 + 1);
			if(loadingPhrase == 1)
				loadingPhrase = "Your cat will be right with you.";
			else if(loadingPhrase == 2)
				loadingPhrase = "Fetching yarn.";
			else if(loadingPhrase == 3)
				loadingPhrase = "The adoption papers are almost complete.";
			else if(loadingPhrase == 4)
				loadingPhrase = "We're searching high and low for your cat.";
			else if(loadingPhrase == 5)
				loadingPhrase = "Disturbing naptime.";
			else if(loadingPhrase == 6)
				loadingPhrase = "Gathering fluff.";
			else if(loadingPhrase == 7)
				loadingPhrase = "Applying whiskers.";
			else if(loadingPhrase == 8)
				loadingPhrase = "Your order is currently hunting mice.";
			else if(loadingPhrase == 9)
				loadingPhrase = "Searching adultcatfinder.com";
			else
				loadingPhrase = "Order up!";
			
			document.querySelector("#catContent").innerHTML = loadingPhrase;

			//Make request for cats
			$.getJSON('/getCat/').done(function(data){app.getCat(data);});
			
			//debugger;
			
			
        },

		sendCat : function()
		{
			var phoneNumber = this.phoneNumberField.val();
			if(phoneNumber.length < 10)
			{
				console.log('Need a 10 digit phone number');
				return;
			}

			var currentCarrier = this.carrierSelect.val();
			if(currentCarrier == 'carrier')
			{
				console.log('Select a real carrier');
				return;
			}

			var phoneData =
			{
				phoneNumber : phoneNumber,
				carrier : currentCarrier
			};

			$.ajaxSetup({
				beforeSend: function(xhr, settings){
					if(!csfrHelper.safeMethod(settings.type) && !this.crossDomain)
					{
						xhr.setRequestHeader('X-CSRFToken', csfrHelper.getToken());
					}
				}
			});

			$.ajax({type: 'POST',
					url: '/sendCat/',
					data: phoneData,
					dataType: 'json',
					success: function(result, textStatus, jqXHR){app.sendCatResult(result);},
					error: function(result, textStatus, errorThrown){console.log(result);}
				});
		},

		sendCatResult : function(result)
		{
			if(result.message == 'success')
			{
				console.log(result.message);
			}
			else
			{
				console.log('Error sending cat!');
				console.log(result.message);
			}
		}

      };

      $(document).ready($.proxy(app.init, app));

    </script>
  </head>

  <body>

    <h2>Get Cats</h2>

    <br />

	<div id="startArea">
	
    <button type="button" id="onPhoneButton">On My Phone</button>
    <br/>
    <button type="button" id="onBrowserButton">Right Here</button>
	</div>

    <div hidden id="sendArea">
		<label id="phoneLabel" for="phoneNumberField">Phone #:</label>
		<input id="phoneNumberField" type="text" name="phoneNumber"/>
		<select id="carrierSelect">
			<option selected value="carrier">Carrier</option>
			<option value="T-Mobile">T-Mobile</option>
			<option value="AT&T">AT&T</option>
			<option value="Verizon">Verizon</option>
			<option value="Sprint">Sprint</option>
		</select>
		<button type="button" id="sendButton">Send</button>
		<br/>
		<button id="backToStartFromSendButton">Nevermind</button>
	</div>

	<div hidden id="catArea">
		<div id="catContent">
		</div>
		<button id="backToStartFromCatButton">That's Enough</button>
	</div>

  </body>

</html>
