<!DOCTYPE html>
<html>

  <head>
    <script src="static/js/jquery-2.1.1.min.js"></script>
	<script src="static/js/jquery.cookie.js"></script>

    <script type="text/javascript">	
	  var csfrHelper = 
	  {
		getToken : function()
		{
			return $.cookie('csrftoken');
		},
	  
		safeMethod : function(method)
		{
			// these HTTP methods do not require CSRF protection
			return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		},
	  }
	
      var app =
      {
		startArea : undefined,
        onPhoneButton : undefined,
        onBrowserButton : undefined,

		sendArea : undefined,
		sendButton :undefined,
		phoneNumberField : undefined,
		carrierSelect : undefined,
        backToStartFromSendButton: undefined,
		
		catArea : undefined,
		backToStartFromCatButton : undefined,

        init : function()
        {
			//Save JQuery variables after the page has loaded
			this.startArea = $('#startArea');
			this.onPhoneButton = $('#onPhoneButton');
			this.onBrowserButton = $('#onBrowserButton');
			
			this.sendArea = $('#sendArea');
			this.sendButton = $('#sendButton');
			this.phoneNumberField = $('#phoneNumberField');
			this.carrierSelect = $('#carrierSelect');
			this.backToStartFromSendButton = $('#backToStartFromSendButton');
			
			this.catArea = $('#catArea');
			this.backToStartFromCatButton = $('#backToStartFromCatButton');
	
			//Setup events
			this.onPhoneButton.click($.proxy(this.showSend, this));
			this.onBrowserButton.click($.proxy(this.showCat, this));
	
			this.sendButton.click($.proxy(this.sendCat, this));
			this.backToStartFromSendButton.click($.proxy(this.showStart, this));
			
			this.backToStartFromCatButton.click($.proxy(this.showStart, this));
        },

		showStart : function()
        {
			//Hide the form and back button
			this.sendArea.hide();
			this.catArea.hide();
	
			//Show the choice buttons
			this.startArea.show();
        },
		
        showSend : function()
        {
			//Hide the start buttons
			this.startArea.hide();
			this.catArea.hide();
	
			//Show the sending area
			this.sendArea.show()
        },

        showCat : function()
        {
			//Hide start area
			this.startArea.hide();
	
			//Make request for cats
			
			//Show cat area
			this.catArea.show();
        },
		
		sendCat : function()
		{		
			var phoneNumber = this.phoneNumberField.val();		
			if(phoneNumber.length < 10)
			{
				console.log('Need a 10 digit phone number');
				return;
			}
		
			var currentCarrier = this.carrierSelect.val();
			if(currentCarrier == 'carrier')
			{
				console.log('Select a real carrier');
				return;
			}
		
			var phoneData = 
			{
				phoneNumber : phoneNumber,
				carrier : currentCarrier
			};
		
			$.ajaxSetup({
				beforeSend: function(xhr, settings){
					if(!csfrHelper.safeMethod(settings.type) && !this.crossDomain)
					{
						xhr.setRequestHeader('X-CSRFToken', csfrHelper.getToken());
					}
				}
			});
		
			$.ajax({type: 'POST',
					url: '/sendCat/',
					data: phoneData,
					dataType: 'json',
					success: function(result, textStatus, jqXHR){app.sendCatResult(result);},
					error: function(result, textStatus, errorThrown){console.log(result);}
				});
		},
		
		sendCatResult : function(result)
		{
			if(result.message == 'success')
			{
				console.log(result.message);
			}
			else
			{
				console.log('Error sending pussy!');
				console.log(result.error);
			}
		}
		
      };

      $(document).ready($.proxy(app.init, app));

    </script>
  </head>

  <body>

    <h2>Get Pussy</h2>

    <br />

	<div id="startArea">
    <button type="button" id="onPhoneButton">On My Phone</button>
    <br/>
    <button type="button" id="onBrowserButton">Right Here</button>
	</div>

    <div hidden id="sendArea">
		<label id="phoneLabel" for="phoneNumberField">Phone #:</label>
		<input id="phoneNumberField" type="text" name="phoneNumber"/>
		<select id="carrierSelect">
			<option selected value="carrier">Carrier</option>
			<option value="tomail.net">T-Mobile</option>
			<option value="txt.att.net">AT&T</option>
		</select>
		<button type="button" id="sendButton">Send</button>
		<br/>
		<button id="backToStartFromSendButton">Nevermind</button>
	</div>

	<div hidden id="catArea">
		<button id="backToStartFromCatButton">That's Enough</button>
	</div>
	
  </body>

</html>
